@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap');

body {
  font-family: 'Quicksand', sans-serif;
  --dark: #2c405a;
  --light: #fff;
}

a {
  transition: 0.3s;
}

a:hover {
  transition: 0.3s;
  color: var(--main-secondary);
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img {
  background-size: cover;
  background-position-y: 20%;
}

.front {
  z-index: 20;
}

.rotate {
  transform: skewX(15deg);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(10, 10%);
}

@media only screen and (min-width: 768px) {
  .md-grid-container {
    display: grid;
    grid-template-columns: repeat(10, auto);
  }
  .grid-item-3 {
    grid-column: span 5;
  }
  .grid-item-2 {
    grid-column: span 5;
  }
}

@media only screen and (min-width: 992px) {
  .lg-grid-container {
    display: grid;
    grid-template-columns: repeat(10, 10%);
  }
  .grid-item-3 {
    grid-column: span 3;
  }
  .grid-item-2 {
    grid-column: span 5;
  }
}

@media only screen and (min-width: 1332px) {
  .md-grid-container {
    display: grid;
    grid-template-columns: repeat(10, 10%);
  }
}

input, select {
  background: none;
  padding: 0 0.5rem;
}
.theme_dark {
  --main: #fff;
  --alternative: #cacaca;
  --bg: #252525;
  --focus: #e84855;
}

.theme_light {
  --main: #2c405a;
  --alternative: #374f6ea9;
  --bg: #fff;
  --focus: #e84855;
}

.svg-light {
  stroke: var(--bg);
  fill: var(--bg);
}

.svg-noClick {
  stroke: var(--alternative);
  fill: var(--alternative);
}

svg {
  stroke: var(--main);
  fill: var(--main);
  transition: 0.3s;
}

svg:hover {
  stroke: var(--alternative);
  fill: var(--alternative);
  transition: 0.3s;
}

li {
  list-style: none;
}

.clickThrough {
  pointer-events: none;
}

.backgroundHidden {
  background-color: none;
}

.dropdown {
  position: absolute;
  right: 100%;
  top: 0px;
}

#changeVarFloating {
  left: calc(1rem + 100%);
  bottom: 50%;
  transform: translateY(50%);
}

.centered {
  left: calc(50%);
  top: 50%;
  transform: translateX(-50%)translateY(-50%);
}

.centerY {
  top: 50%;
  transform: translateY(-50%);
}

.floatingMenu {
  display: none;
}

.item:hover .floatingMenu {
  display: block;
}

/* Output table */

th, td {
  min-width: 6rem;
  border-right: .15rem solid;
  padding: 0.2rem .5rem;
  border-color: var(--alternative);
}

.riskMatrix th, .riskMatrix td {
  min-width: 6rem;
  min-height: 4rem;
  padding: 0.2rem .5rem;
  border: .15rem solid;
  border-color: var(--alternative);
}

.topLeft {
  border: none !important;
}

/* Tooltip */

[tooltip-position][tooltip-content] { 
  position: relative;
}
[tooltip-position$="-abs"][tooltip-content] { 
  position: absolute;
}
[tooltip-position$="-fxd"][tooltip-content] { 
  position: fixed;
}
[tooltip-position][tooltip-content]::before {
  content: attr(tooltip-content);
  position: absolute;
  opacity: 0;
  visibility: none;
  background-color: #303030;
  border-radius: .5rem;
  color: white;
  padding: .5rem;
  padding-left: .8rem;
  padding-right: .8rem;
  font-size: 1rem;
  width: 22rem;
  text-align: center;
  pointer-events: none;
}
[tooltip-position^="up"][tooltip-content]::before {
  bottom: calc(0.5rem + 100%);
  right: 50%;
  transform: translateX(50%);
}
[tooltip-position^="down"][tooltip-content]::before {
  top: calc(0.5rem + 100%);
  right: 50%;
  transform: translateX(50%);
}
[tooltip-position^="left"][tooltip-content]::before {
  right: calc(1rem + 100%);
  bottom: 50%;
  transform: translateY(50%);
}
[tooltip-position^="right"][tooltip-content]::before {
  left: calc(1rem + 100%);
  bottom: 50%;
  transform: translateY(50%);
}
[tooltip-position][tooltip-content]:hover::before {
  visibility: visible;
  opacity: 1;
}

/* Chartist styling */

.ct-grids {
  stroke:rgba(224, 224, 224, 0.452);
}

.ct-series-a .ct-line,
.ct-series-a .ct-point {
  fill: rgb(255, 62, 88);
  stroke: none;
}

.ct-series-b .ct-line,
.ct-series-b .ct-point {
  fill: rgb(123, 255, 62);
}